
body {
    background-image: url(../css/fondo.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100%; 
}

.titulo{
    text-align: center;
    text-decoration:underline;
}
#infop{
    margin-left: 40vw; 
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#contenedor {
    width: 100%; /* Ajusta según sea necesario */
    margin: 0 auto; /* Centra el contenedor */
}
.info{
    display: inline-block;
    vertical-align: top;
    margin: 0px 5vw 0px 15vw
}

.info2{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 15vw
}

#foto {
    height: 200px;
    width: 240px;
    float: left; /* Alinea la foto a la izquierda */
    margin-right: 20px; /* Agrega un margen entre la foto y la tabla */
    margin-left: 120px;
}
.tabla {
    margin-left: 120px; /* Ajusta el margen izquierdo para la tabla */
    float: left; /* Hace que la tabla se alinee a la izquierda */
}

 #estudios{
text-align: center;
 }

 .tablaE{
    border-style: none;
    padding: 10x;
    /* border-color: #fff; */
    border-radius: 1px;
    text-align: left;
}
.info3{
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin-left: 30vw
}
#idioma{
    text-align: center;  
}
.idiomas{
    border-style: none;
    padding: 10x;
    border-color: #fff;
    border-radius: 1px;
    text-align: left;
}
#compu{
    text-align: center;  
}
.computacion{
    border-style: none;
    padding: 10x;
    /* border-color: #fff; */
    border-radius: 1px;
    text-align: left;
}
#exp{
    text-align: center;  
}
.expL{
    border-style: none;
    padding: 10x;
    /* border-color: #fff; */
    border-radius: 1px;
    text-align: left;
}
#ap{
    text-align: center;
}
.lista{
text-align: left;
margin-left: 40vw;
}

th,td{
    padding: 5px;
}
ol{
    list-style: circle;
}
li{
    padding: 2px;
}
@media only screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */
    #foto {
        width: 100%;
    }
    .info,
    .info2,
    .info3,
    .lista {
        margin-left: 0;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenedor */
}
